


.newquest-body {
    margin: 10px;
    display: flex;
    flex-direction: column;
 
    gap: 4px; /* mezők közti térköz */
}


.category-part {
    display: flex
}
.question-lettercounter {
    display: flex;
    margin-top: 16px;
    width: 70%;
    justify-content: space-between;
    align-items: end;
}

.question-wrapper {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: start;
}
.lcd-input.lcd-area {
    width: 70%;
    height: 90%;
    resize: none;
    box-sizing: border-box;
    overflow: auto;
}
    


.question-wrapper-right {
    height: 100%;
    margin-right: 10px;
    margin-top: 35px
}

.answer-table {
    display: flex;
    justify-content: space-between;
}

.answer-row {
    display: flex;
    flex-direction: column;
    justify-items: left;
    gap: 2px; /* mezők közti térköz */
    -webkit-align-items: flex-start;
    align-items: flex-start;
}


.inline-editor {
    color: #cccccc;
    font-family: 'Share Tech Mono', monospace;
    margin-left: 10px;
    width: 53%;
    box-sizing: border-box;
    box-shadow: none;
}
.message-row {
    color: red;
    position: absolute;
    bottom: 18%;
}
