@page "/team"

@using KvizCommando.Client.Pages.Team.Components
@using KvizCommando.Client.Components.Dynamic;
@inherits Utilities.KcComponentBase

<link href="css/team-common.css" rel="stylesheet" />

<LangGuard Culture=@Culture Module="team" OnReady="BuildBoxes">
  <PageContainer>
     
        @if (_isLoaded == true)
        {        
            <div class="kc-team-selector">
                @foreach (string bx in _boxOrder)
                {
                    var box = Box(bx);

                    <ContentBox Vm="@box"
                                OnClick="OnBoxClick">

                        <ContentBody>

                            <CascadingValue Value="_selectedPos">
                                <MemberView ModifySkill="OnSaveButtonPressedAsync" />
                            </CascadingValue>

                        </ContentBody>
                    </ContentBox>
                }
            </div>
        }

    </PageContainer>
</LangGuard>

                    <!-- 

                         <SubHeader Params="@_subHead"
                       ActiveIndexChanged="OnSelectMember" />

                     <TeamView ActionButtonPushed="OnTeamManageButtonPressedAsync"
                                          ModifySkill="OnSaveButtonPressedAsync"/>

                    -->