@inherits LayoutComponentBase

<HeadContent>
    <link href="css/LoginLayout.css" rel="stylesheet" />
</HeadContent>

<LoaderView />
@if (_isReady)
{
<div class="kc-loginlayout-center">
        <div class="kc-loginlayout-center--container">
            <img src="/images/logo.webp" alt="logosmall" class="kc-logo-small" />
            <div class="kc-loginlayout-content-body">
            @Body
        </div>
    </div>
</div>
}

