
/* === KÖZÉP === */
.kc-loginlayout-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* header + footer */
    padding-top: 5px;
}

/* A középre igazított fix főkonténer */
.kc-loginlayout-center--container {
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    background-color: rgba(51, 51, 51, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(64, 64, 64, 0.7);
    padding: 30px;
    width: 500px;
    height: 545px;
    position: relative;
    align-items: center;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}

.kc-logo-small {
    max-width: 80px;
    height: 80px;
    border-radius: 80px;
    
 
}

.kc-loginlayout-content-body {
    flex: 1;
    color: white;
    overflow: auto;
}






