@if (Toast.IsVisible && Toast.Current is not null)
{
    <div class="kc-toast @GetCssClass()">

        <div class="kc-toast-message">
            @Toast.Current.Text
        </div>

        <button class="kc-toast-close"
                @onclick="Close">
            <i class="bi bi-x-lg"></i>
        </button>

    </div>
}