<div class="lang-selector">
    <button id="langToggle"
            type="button"
            class="dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-globe"></i>
    </button>

    <ul id="langMenu" class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item d-flex align-items-center" @onclick="HuClick">
                <span class="flag flag-hu"></span> Magyar
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" @onclick="EnClick">
                <span class="flag flag-en"></span> English
            </a>
        </li>
    </ul>
</div>
<LanguageConfirm @ref="ConfirmModal" />