@page "/language-confirm"
@inherits LanguageConfirmBase

<div class="modal fade" id="languageConfirmModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-custom">

            <div class="modal-header-custom text-center">
                <h5 class="modal-title-custom">@ModalTitle</h5>
                <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <p class="modal-message">@ConfirmMessage</p>
            </div>

            <div class="modal-footer-custom d-flex justify-content-around">
                <button class="military-button" @onclick="ConfirmReload">
                    @ReloadText
                </button>
                <button class="military-button--secondary" data-bs-dismiss="modal">
                    @CancelText
                </button>
            </div>
        </div>
    </div>
</div>

