

    <div class="loader-overlay@(_visible ? " active" : "")">
        <div class="loader-container">
            <div class="loader-circle"></div>
            <img src="images/logo.svg" class="loading-logo" />
        </div>
    </div>
