

.kc-mainlayout-root {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
   /* ⬅️ Itt állítod be a háttérképet */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed; /* opcionális: ne mozogjon görgetésre */
    image-rendering: auto; /* vagy 'crisp-edges' kísérletnek */
    z-index:0;
    opacity:0.95;
}
.kc-unsupported-screen {
    display: none;
}

@media (max-width: 900px), (max-height: 700px) {
    .unsupported-screen {
        display: flex;
    }

    .kc-mainlayout-root {
        display: none;
    }
}