
.lcd-display-outer {
    background-color: rgba(210, 255, 57, 0.9);
   
    border: inset 2px #777;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4), inset 0 4px 8px rgba(0,0,0,0.7);
    padding: 0;
    width: 100%;
    height: 96%; /* vagy amit szeretnél */
    box-sizing: border-box;
    position: relative;
    overflow: hidden; /* nagyon fontos! */
}

.lcd-display-inner {
    color: #222F16;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    padding: 4px 6px;
    display: block;
    width: 100%;
    /* itt szabályozod, mennyit látsz egyben */
    min-height: 100%;
    scrollbar-gutter: stable;
    overflow: auto;
    /* itt szabályozod, mennyit látsz egyben */
    text-align: left;
    max-height: 100%; /* itt szabályozod, mennyit látsz egyben */
    background: transparent;
}

    .lcd-display-inner::-webkit-scrollbar {
        width: 10px;
    }

    .lcd-display-inner::-webkit-scrollbar-track {
        /*background-color: #001f3f;  háttér: katonai kék */
        background-color: #D2FF39;
        border: inset 2px #777;
        border-radius: 4px;
    }

    .lcd-display-inner::-webkit-scrollbar-thumb {
        background-color: #bfa800; /* halványsárga */
        border-radius: 4px;
        border: 1px solid #333;
    }

        .lcd-display-inner::-webkit-scrollbar-thumb:hover {
            background-color: #ffe14d; /* világosabb hover */
        }


.teampage-list-grid {
    display: grid;
    column-gap: 2px;
    row-gap: 0;
    padding: 2px 0;
    padding-left: 1px;
    user-select: none;
    align-items: center;
    text-align: left;
}
.teampage-title {
    text-decoration: underline;
    padding-left: 10px;
}

.teampage-datacol-1 {
    font-weight: bold;
    opacity: 0.9;
    text-overflow: ellipsis;
}

.teampage-datacol-2 {
    text-align: right;
}

.teampage-datacol-3 {
    font-weight: bold;
    opacity: 0.9;
    text-align: right;
}

.teampage-datacol-4 {
    margin-left: 10px;
}