.modal-display {
    font-size: 1.2rem;
}
.category-label {
   
    text-decoration: underline
}
.question-label {
   
    font-weight: bold
}
.remark-label {
    font-size: 0.9rem;
 
    
}
.remark-title {
    text-decoration:underline;
}
.answer-label {
    font-size:0.9rem;
}
    .answer-label.correct {
        font-weight: bold;
    }

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #666;
    
    margin: 2px 0;
}
.status-row {
    font-weight: bold;
}
.submited-at {
    font-size:0.7rem;
}

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #666;
    }

    .divider:not(:empty)::before {
        margin-right: .75em;
    }

    .divider:not(:empty)::after {
        margin-left: .75em;
    }

.statistic-row {
    display: flex;
    flex-direction:column;
}
.label-statistic {
    font-size:0.9rem;
    min-width:160px;
}

.label-result {
    font-weight:bold;
    font-size:1rem;
}