:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kc-home-selector {
    display: flex;
    position: relative;
    width: 680px;
    top: -50px;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
}



.kc-bboard-item {
    display: flex;
}

/* Tablet: 2 oszlop */
@media(max-width: 640px) {
    .solo-selector {
        width: 440px;
    }
}
/* Mobil: 1 oszlop */ 
@media(max-width: 400px) {
    .solo-selector {
        width: 210px;
    }
}