:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.solo-selector,
.question-selector,
.home-selector {
    display: flex;
    position: relative;
    top: -50px;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
}

.home-selector {
    width: 660px;
}
.question-selector {
    width: 440px;
}
.solo-selector {
    width: 840px;
}


.bboard-item {
    display: flex;
}

/* Tablet: 2 oszlop */
@media(max-width: 640px) {
    .solo-selector {
        width: 440px;
    }
}
/* Mobil: 1 oszlop */ 
@media(max-width: 400px) {
    .solo-selector {
        width: 210px;
    }
}