@page "/home"
@page "/solo"
@page "/gamevs"
@page "/question"
@page "/team"

<LangGuard Culture=@culture Module="@ActualPage" OnReady="() => BuildButtons(ActualPage)">
    <PageContainer>
        
            @if (_isReady == true)
            {
            var style = $"{ActualPage ?? "home"}-selector"; 
            <div class="@(style)">
                @foreach (string bx in BoxOrder)
                    {
                        var box = Box(bx);
               
                    <ContentBox Vm="@box"
                                OnClick="OnBoxClick"
                                FooterClick="CloseBBoard">
                                        <div class="bboard-item">
                                            @BboardHTML
                                        </div>    
                            </ContentBox>
                    }
             </div>
            }
    </PageContainer>
</LangGuard>











