.kc-solo-selector-root,
.kc-solo-selector-sub {
    display: grid;
    gap: 10px;
    margin: 0 auto;
}

.kc-solo-selector-root {
    grid-template-columns: 1fr;
    max-width: 440px;
  
}
.kc-solo-selector-sub {
    grid-template-columns: repeat(4, 1fr); /* mindig 4 oszlop */
    max-width: 900px; /* 4x140px + 3x12px gap ≈ 600px */
    width: 100%;
}





/* Tablet: 2 oszlop */
@media (max-width: 1000px) {
    .kc-solo-selector-sub {
        grid-template-columns: repeat(2, 1fr);
        max-width: 440px; /* 2x140px + 1x12px gap ≈ 300px */
    }
}

/* Mobil: 1 oszlop */
@media (max-width: 320px) {
    .kc-solo-selector-sub {
        grid-template-columns: 1fr;
        max-width: 140px;
    }
}