.pswreset-panel {
    width: 400px;
    margin: 10px auto;
}

/* HEAD border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);/*/
.pswreset-head {
    text-align: center;
    padding: 4px;
}

/* BODY * background-color: #1c1c1c;/*/
.pswreset-body {
    margin-top: 20px; /* Ezt állítsd, hogy milyen messze legyen a HEAD-től */
    display: flex;
    flex-direction: column;
    gap: 4px; /* mezők közti térköz */
}

/* FOOTER */
.pswreset-footer {
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}
.pswresetbutton-row {
    
    display: flex;
    justify-content: space-between; /* bal és jobb szél */
    margin-top: 30px;
}