@page "/question"
@inherits Utilities.KcComponentBase

@using KvizCommando.Client.Helpers
@using KvizCommando.Client.Pages.Question
@using KvizCommando.Client.Pages.Question.Components

<link href="css/question-common.css" rel="stylesheet" />

<LangGuard Culture=@Culture Module="question" OnReady="BuildBoxes">
        <PageContainer>
            @if (_isReady == true)
            {
                <div class="kc-quest-selector">
                    @foreach (string bx in _boxOrder)
                    {
                        var box = Box(bx);
                 
                        <ContentBox Vm="@box"
                                    OnClick="OnBoxClick">
                            <ChildContent1>
                            <FactorySlotsBase SaveSlots="OnFactSaveAsync" />
                            </ChildContent1>                         
                            <ChildContent2>
                            <UserSlotManager SelectedId="_selectedId"
                                             SelectedIdChanged="OnSelectId" />
                            </ChildContent2>
                            <ChildContent3>
                            <PendingSlotManager SelectedId="_selectedId"
                                                SelectedIdChanged="OnSelectId"/>
                            </ChildContent3>
                            <ChildContent4>
                            <NewQuestionManager OnSendQuestion="SaveToFormAsync" />
                            </ChildContent4>
                            <ChildContent5>
                                <button class="military-button"
                                        disabled="@(_selectedId == 100)"
                                        style="@_boxBtnStyle"
                                        @onclick="_onBoxBtnClick">
                                    @_boxBtnText
                                </button>
                            </ChildContent5>
                        </ContentBox>
                    }
                </div>
            }
        </PageContainer>
</LangGuard>



