@page "/question"
@inherits Utilities.KcComponentBase


<link href="css/question-common.css" rel="stylesheet" />

<LangGuard Culture=@Culture Module="question" OnReady="BuildBoxes">
        <PageContainer>
            @if (_isReady == true)
            {
                <div class="kc-quest-selector">
                    @foreach (string bx in _boxOrder)
                    {
                        var box = Box(bx);
                 
                        <ContentBox Vm="@box"
                                    OnClick="OnBoxClick">
                            <ContentBody>
                                <CascadingValue Value="_selectedId">
                                        <DynamicComponent Type="@box.BodyComponent"
                                                  Parameters="@box.BodyParameters" />
                                </CascadingValue>
                            </ContentBody>
                        </ContentBox>
                    }
                </div>
            }
        </PageContainer>
</LangGuard>



