
.picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.display-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: color-mix(in srgb, var(--kc-lcd-background) 22%, transparent);
    z-index: 2;
}

.pic-display {
    display: flex;
    padding: 20px;
   
    width: 100%;
    height: 100%;
    z-index: 0;
}
