

/* === KÖZÉP === */
.layout-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* header + footer */
    padding-top: 20px;
    min-width: 850px;
}

/* A középre igazított fix főkonténer */
.main-container {
    display: flex;
    border-radius: 22px;
    background-color: rgba(51, 51, 51, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(64, 64, 64, 0.7);
    padding: 30px;
    width: 850px;
    height: 400px;
    position: relative;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}
/* BAL OLDAL: LOGO */
.logo {
    max-width: 420px;
    height: 420px;
    margin-right: 20px;
    border-radius: 12px;
}

/* JOBB OLDAL: BODY TARTALOM */
.content-body {
    flex: 1;
    color: white;
    overflow: auto;
}



.login-panel {
    width: 400px;
    margin: 10px auto;
    height:90%;
    align-content:center;
   
}

/* HEAD border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);/*/
.login-head {
    text-align: center;
    padding: 4px;
}

/* FOOTER */
.login-footer {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
