
/* === KÖZÉP === */
.layout-center {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* header + footer */
    min-width: 100%;
}
/* A középre igazított fix főkonténer */
.main-container {
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(64, 64, 64, 0.7);
    width: 520px;
    height: 580px;
    position: relative;
    align-items: center;
}
/* BAL OLDAL: LOGO */
.logo {
    display:flex;
    height:stretch;
    width:500px;
    height:auto;
    border-radius: 12px;
}

/* JOBB OLDAL: BODY TARTALOM */
.content-body {
    flex: 1;
    color: white;
    width:100%;
    justify-items:center;
    padding:5px;
}



.login-panel {
    display:flex;
    position:relative;
    flex-direction:column;
    top:-30px;
    padding:10px;
    width:85%;
}

/* HEAD border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);/*/
.login-head {
    text-align: center;
}

/* FOOTER */
.login-footer {
    display: flex;
    justify-content: center;
}
@media (max-width: 500px), (max-height: 382px) {
    .layout-center {
        align-items: start;
        top:70px;
    }
        .main-container {
        width: 260px;
        height: 480px;
    }
    .logo {
        width: 380px;
    }
}