.pswreset-panel {
    width: 400px;
    margin: 10px auto;
}

.pswreset-head {
    text-align: center;
    padding: 4px;
}

.pswreset-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* FOOTER */
.pswreset-footer {
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}
.pswresetbutton-row {
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
