.recruit-tab {
    width: 100%;
    border-top: dashed;
    border-bottom: dashed;
    border-color: rgba(10,10,10,0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 8px;
}

