.upper-list-grid {
    display: grid;
    grid-template-columns: 140px 300px 100px 80px;
    column-gap: 2px;
    row-gap: 0;
    padding: 2px 0;
    padding-left: 1px; /* <<< 10px balról */
    user-select: none;
    align-items: center;
    text-align: left;
}

.upper-separator {
    border-top: 2px solid #333;
    width: 100%;
    opacity: 0.5;
}

.upper-left-value,
.upper-right-value {
    font-weight: bold;
    opacity: 0.9
}

.upper-right-type,
.upper-right-value {
    text-align: right;
}

.upper-left-value {
    text-overflow: ellipsis;
}

.bottom-extend {
    grid-template-columns: 10px 300px 60px 80px 150px;
}

.gapped-rows {
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
}

.bottom-row-marker {
    color: red;
    font-weight: bold;
    text-align: center;
    animation: fadeBlink 1s ease-in-out infinite;
}

.bottom-action-button {
    width: 140px;
    color: lightgrey;
    opacity: 0.8;
    cursor: url('/Images/cursors/active.cur'), pointer;
}

    .bottom-action-button:hover {
        opacity: 0.7;
    }

.bottom-action-label {
    width: 140px;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
    animation: fadeBlink 1s ease-in-out infinite;
}

    .bottom-action-label:hover {
        color: blue;
        font-weight: bold;
        cursor: url('/Images/cursors/active.cur'), pointer;
        animation: none;
    }

.extend {
    grid-template-columns: 10px 280px 60px 70px 200px;
    grid-template-rows: 40px 40px 40px 40px 40px;
}


.dev-button-section {
    display: block;
    font-weight: bold;
    opacity: 0.9;
    width: auto;
    text-align: center;
    align-content: center;
}

.dev-modifier-button {
    margin: 5px;
    width: 40px;
    background-color: darkolivegreen;
    color: lightgrey;
    opacity: 0.8;
    cursor: url('/Images/cursors/active.cur'), pointer;
}

    .dev-modifier-button:disabled {
        cursor: url('/Images/cursors/disabled.cur'), not-allowed;
        opacity: 0.6;
    }




@keyframes fadeBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}