.htp-wrapper {
    width: 650px;
    position: relative;
}

/* TabBar rálóg a content box tetejére */
.htp-tabbar,
.vtp-tabbar {
    position: absolute;
    gap: 1px;
    user-select: none;
}

.htp-tabbar {
    top: -30px;
    left: 20px;
    height: 30px;
    width: 650px;
    display: flex;
}
.vtp-tabbar {
    left: -118px;
    top: 9%;
    display: table-column;
    height: 120px;
    width: 120px;
}

/* Tab alap */
.vtp-tab,
.htp-tab {
    flex: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: rgba(10, 10, 10, 0.1);
    font-family: 'Courier New', monospace;
    font-size: 0.95rem;
    color: #cccccc;
    letter-spacing: 0.2px;
    
    transition: 0.15s;
    cursor: url('/Images/cursors/normal.cur'), default;
}
.htp-tab {
    border-radius: 8px 8px 0 0;
}
    .htp-tab.disabled:hover .tooltip-box {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        top: -20px;
    }
.vtp-tab {
    border-radius: 8px 0 0 8px;
}


    .vtp-tab:hover,
    .htp-tab:hover {
        background: rgba(99, 99, 99, 0.4);
        cursor: url('/Images/cursors/active.cur'), pointer;
    }
    
    /* Aktív tab → content box szín */
    .vtp-tab.active,
    .htp-tab.active {
        background: #2a2a2a;
        font-weight: bold;
        border: 2px solid rgba(64, 64, 64, 0.4);
        cursor: url('/Images/cursors/normal.cur'), default;
    }
    .htp-tab.active {
        border-bottom: none;
    }
.vtp-tab.active {
    z-index: 0;
    border-right: none;
}
    .vtp-tab.disabled,
    .htp-tab.disabled {
        background: rgba(255,45,45,0.15);
        color: #cccccc;
        cursor: url('/Images/cursors/disabled.cur'), not-allowed;
    }
    /* Tartalom panel */
.htp-contentbox {
   
    width: 650px;
    height: 610px;
    background-color: #2a2a2a;
    border-radius: 22px 22px 22px 22px;
    border: 2px solid rgba(64, 64, 64, 0.7);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 0;
}

.pic-contentbox {
    position: absolute;
    left: 690px;
    top: 6%;
    height: 200px;
    background-color: #2a2a2a;
    border-radius: 0 22px 22px 0;
    border: 2px solid rgba(64, 64, 64, 0.7);
    border-left: none;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
    padding: 20px 20px 20px 0;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
    .pic-contentbox.opened {
        width: 150px;
    }
    .pic-contentbox.closed {
        width: 0;
        padding: 10px;
    }
.lcd-display-outer.collapsed {
    height: 87%;
}
.lcd-display-outer.extended {
    height: 94%;
}
.button-row {
    display:flex;
   justify-content:center;
}

