
<div class="sub-header @(ShowSubHeaderEna ? "visible" : "")">
    <label class="back-button2" @onclick="OnHeadButtonClick">@("<<")</label>
    <label class="sub-title2">@SubHeaderTtle</label>     
</div>
