@page "/registersucces"
@layout LoginHelper

<LangGuard Culture=@culture Module="register">
<div class="registsuc-panel">
    <div class="regist-head">
            <label class="label-title">@Lang["register.Title"]</label>
    </div>
    <div class="registsuc-body">
            <label style="color:limegreen; font-size: 24px;" class=" label-text">@Lang["register.ResultMsg01"]</label>
        <br>
            <label class="label-text">@Lang["register.ResultMsg02"]</label>
    </div>


    <div class="registsuc-footer">
        <button class="military-button--secondary" @onclick="NavigateHome">
                @Lang["common.Button.Back"]
        </button>
       
    </div>
</div>
</LangGuard>
